@import "tailwindcss";


@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('../fonts/SFRounded-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('../fonts/SFRounded-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SFRounded';
  src: url('../fonts/SFRounded-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --raleway: "Raleway", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --sfrounded: "SFRounded", sans-serif;
}


#hero {
  background: #2c0000;
}

.hero-title span,
.hero-subtitle span {
  background: linear-gradient(90deg, #FFE62E 0%, #FFF6B0 50%, #FFE62E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-variant-numeric: lining-nums proportional-nums;
  font-feature-settings: 'liga' off;
}

.form-wrap {
  border-radius: 24px;
  background: #FCE5C0;
  box-shadow: 0 8px 0 0 #95733C;
}

.socials-form-social-link {
  box-shadow: 0 4px 0 0 #000;
}

.gift-box {
  text-shadow: 0 0 15.692px rgba(255, 236, 94, 0.50);
}

.form-step-btn-prev {
  background: white;
  box-shadow: 0 4px 0 0 #000;
}

.language-link.active {
  background: #FFE738;
}

.language-link.active span {
  color: #000000;
}

.steps-wrapper {
  border-radius: 28px;
  background: #6F1400;
  box-shadow: 0 8px 0 0 #420C00;
}

.step-wrapper-item-1 {
  background: linear-gradient(180deg, #FFE507 0%, #F90 100%);
}

.socilas-form-wrapper::before {
  content: "";
  width: 550px;
  height: 550px;
  border-radius: 50%;
  background: #3A0000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.socilas-form-wrapper::after {
  content: "";
  width: 500px;
  height: 500px;
  border-radius: 50%;
  border-radius: 515px;
  background: #F00;
  filter: blur(180px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.chicken-sircle-mobile::before {
  content: "";
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #3A0000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.chicken-sircle-mobile::after {
  content: "";
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #F00;
  filter: blur(180px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (max-width: 576px) {

  .chicken-sircle-mobile::before,
  .chicken-sircle-mobile::after {
    width: 227px;
    height: 227px;
  }

}

/* | Language dropdown */

.header-lang-list {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top left;
  transition: all 0.3s;
}

.header-lang-list.is-open {
  opacity: 1;
  transform: scaleY(1);
  transition: all 0.3s;
}

.form-overlay.is-open {
  display: grid;
}

@media (max-width: 576px) {
  .form-overlay.is-open {
    display: block;
  }
}

@keyframes animate-svg-draw-1 {
  0% {
    stroke-dashoffset: 277;
    stroke-dasharray: 277;
  }

  100% {
    stroke-dashoffset: 227;
    stroke-dasharray: 554;
  }

  0% {
    stroke-dashoffset: 554;
    stroke-dasharray: 277;
  }
}

.svg-elem-1 {
  animation: animate-svg-draw-1 2s ease 0s infinite;
  stroke: #ffb600;
  stroke-width: 6;
  fill: none;

  stroke-linecap: round;
  stroke-linejoin: rectangle;
}

.svg-elem-2 {
  animation: pulse 3s ease 1s infinite;
  transform-origin: center;
  fill: black;
}

.svg-elem-3 {
  animation: pulse 3s ease 1s infinite;
  transform-origin: center;
  fill: #f0f0f0;
}

@media (max-width: 576px) {
  .step-slider .swiper-wrapper {
    align-items: center;
  }
}

/* | SOCIALS FORM STYLES */

.socials-form .iti {
  width: 100%;
  height: auto;
  font-size: 18px !important;
  font-weight: 700;
  line-height: 100% !important;
}

.socials-form .iti__selected-country-primary:hover {
  background-color: transparent !important;
}

.socials-form .iti .phone-input {
  width: 100%;
  height: 100%;
  outline: none;
}

.socials-form .iti__country-list {
  border: none !important;
}

.socials-form .iti__country-list li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.02em;
}

.socials-form .iti__tel-input {
  padding-left: 100px !important;
}

.socials-form .iti__selected-country-primary {
  height: auto !important;
}

.socials-form .iti__search-input {
  border: none !important;
  outline: none;
  color: #0f0f0f;
  padding: 10px 12px;
}

.socials-form .iti__country-list li span {
  color: #0f0f0f;
}

.socials-form .iti__dropdown-content {
  top: 110%;
  border-radius: 8px !important;
  overflow: hidden !important;
}

.socials-form .iti__dial-code {
  color: #ffffff !important;
}

.socials-form .iti__selected-dial-code {
  color: #ffffff !important;
}

.socials-form .iti .phone-input {
  font-size: 18px !important;
  line-height: 100% !important;
  height: 22px !important;
}

.socials-form .iti__selected-country {
  height: 22px !important;
}

.socials-form-type-btn::before {
  content: "";
  width: 100%;
  height: 3px;
  background: #00000050;
  position: absolute;
  left: 0;
  bottom: 0;
}

.socials-form-type-btn.active::before {
  background: #FCA400;
  opacity: 1;
}

.socials-form-type-btn.active span {
  color: #000000;
}

.socials-form-type-btn.active svg {
  stroke: #000000;
}

.socials-form-group-email label {
  transition: 0.3s;
}

/* .form-group-email input:focus, */
.socials-form-group-email input:focus+label,
.socials-form-group-email input:not(:placeholder-shown)+label {
  font-size: 12px;
  transform: translateY(-16px);
}

.form-step-btn {
  border-radius: 12px;
  background: linear-gradient(90deg, #FCA400 0%, #FFDB98 50%, #FCA400 100%);
  box-shadow: 0 4px 0 0 #000;
}

.form-step-btn:disabled {
  opacity: 0.5;
}

.socials-form-group {
  display: none;
}

.socials-form-group.active {
  display: flex;
}

.socials-form-group {
  border: 2px solid transparent;
}

.socials-form-group.not-valid {
  border: 2px solid #ff5530;
}

.socials-form-group.not-valid input {
  color: #ff5530;
}

.socials-form-group.not-valid .tooltip {
  display: block;
}

.socials-form-group-password {
  border: 2px solid transparent;
}

.socials-form-group-password.not-valid {
  border: 2px solid #ff5530;
}

.socials-form-group-password.not-valid input {
  color: #ff5530;
}

.socials-form-group-password.not-valid .tooltip {
  display: block;
}

.socials-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px #171929 inset;
  -webkit-text-fill-color: #fff;
}

.socials-form input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #171929 inset;
  -webkit-text-fill-color: #fff;
}

.socials-form input:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px #171929 inset;
  -webkit-text-fill-color: #fff;
}

.checkbox .checkbox-content::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background: #fff;
  border: 1px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox .checkbox-input:checked+.checkbox-content::before {
  background: url("../img/checked.svg") #f4fd2b;
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.tooltip::before {
  content: "";
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;

  border-top: 6px solid #f0f0f0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.form.loading .main-form-submit-btn span {
  display: none;
}

.form.loading .main-form-submit-btn .loading-icon {
  display: block;
}

.form.loading .form-group-password {
  pointer-events: none;
  opacity: 0.6;
}

.form.loading .form-currency {
  pointer-events: none;
  opacity: 0.6;
}

.terms-modal.is-open {
  display: grid;
}

.scroll-lock {
  overflow: hidden;
}

.applied-nodep-bonus {
  position: relative;
}

.applied-nodep-bonus::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.actual-spin-amount {
  font-style: normal;
}